{% extends "base.html" %}

{% block content %}
<div class="container card">
    <div class="card-body">
        <h1 align="center" class="card-title"> О проекте </h1>
        <p style="text-indent: 20px;">История... Сколько будет жить это слово? Вечность. Однако что же мы скажем про
            историю отдельных маленьких уголков нашей планеты? История городов, такая значительная, но такая
            ускользающая и прозрачная, однако имеет достаточно большое значения для нашей страны. Все мы понимаем, что
            далеко не каждый из нас знает историю нашего государства, что же тут говорить про место, в котором мы
            родились и проводим основную часть нашей жизни?</p>
        <p style="text-indent: 20px;">Мы предлагаем проект, который способен решить эти проблемы. С помощью данного
            проекта каждый, кто имеет мобильное устройство, сможет быстро и доступно узнать историю Гусь-Хрустального в
            мельчайших подробностях, а для самых активных мы подготовим серию онлайн-квестов.</p>
        <p style="text-indent: 20px;">Как же всё это будет работать? На каждом исторически значимом объекте города
            (архитектурном сооружении, памятнике, и т.п.) будут развешаны специальные таблички с QR кодом. При наведении
            камеры мобильного устройства на табличку вы перейдете на онлайн-платформу и получите подробную информацию об
            объекте. А если предоставленной информации окажется недостаточно, вы сможете зайти на нашу платформу и найти
            всю информацию о нашем городе, которую мы будем пополнять интересными фактами.
        </p>
        <h5>
            В разработке проекта принимали участие:
        </h5>
        <ul>
            <li>
                Лабецкая Диана Александровна
            </li>
            <li>
                Бычкова Маргарита Андреевна
            </li>
            <li>
                Трескина Татьяна Геннадьевна
            </li>
            <li>
                Зобков Максим Александрович
            </li>
            <li>
                Карпов Данила Александрович
            </li>
            <li>
                Чеснов Илья Игоревич
            </li>
        </ul>
        <h5>
            Фотографии предоставили:
        </h5>
        <ul>
            <li>
                Львов Виктор
            </li>
        </ul>
    </div>
</div>
{% endblock %}