{% extends "base.html" %}

{% block main %}
<script type="text/javascript">
    function myFunction(){
        alert("You button was pressed");
    };
</script>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<form action="" method="post" enctype="multipart/form-data">
    <a>
        {{ form.name.label }} <br>
        {{ form.name(class="form-control") }} <br>
    </a>
    <a>
        {{ form.points.label }} <br>
        {{ form.points(class="form-control") }} <br>
    </a>
    <a>
        {{ form.kol_vo.label }} <br>
        {{ form.kol_vo(class="form-control") }} <br>
    </a>
    <a>{{ form.ok(type="submit", class="btn btn-primary") }}</a><br>
    <input id="button" type="submit" name="button" onclick="myFunction();" value="enter"/>
        <a>
            {{ form.questions.label }} <br>
            {{ form.questions(class="form-control") }} <br>
        </a>
        <a>
            {{ form.ansvers.label }} <br>
            {{ form.ansvers(class="form-control") }} <br>
        </a>
        <a>{{ form.submit(type="submit", class="btn btn-primary") }}</a>
        <div> {{ message }}</div>
</form>
{% endblock %}