{% extends "base.html" %}

{% block main %}
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"
        charset="utf-8"></script>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<form method="post" enctype="multipart/form-data">
    {% if flag == 0 %}
        <a>
            {{ form.name.label }} <br>
            {{ form.name(class="form-control") }} <br>
        </a>
        <a>
            {{ form.points.label }} <br>
            {{ form.points(class="form-control") }} <br>
        </a>
        <a>
            {{ form.kol_vo.label }} <br>
            {{ form.kol_vo(class="form-control") }} <br>
        </a>
        <a>{{ form.ok(type="submit", class="btn btn-primary") }}</a>

    {% else %}
        <a>
            {{ form.questions.label }} <br>
            {{ form.questions(class="form-control") }} <br>
        </a>
        <a>
            {{ form.ansvers.label }} <br>
            {{ form.ansvers(class="form-control") }} <br>
        </a>
        <a>{{ form.submit(type="submit", class="btn btn-primary") }}</a>
        <div> {{ message }}</div>
    {% endif %}
</form>
{% endblock %}