{% extends "base.html" %}
{% block content %}
<div class="container; mt-4">
    <div class="row">
        {% for item in items %}
        <div class="col-sm-6">
            <div class="card mb-4" style="width: 100%; border-radius: 10px;">
                <a href="about_item/{{ item.id }}">
                    <img class="img-fluid" style="border-radius: 10px; height: auto;" src={{item.photo}}>
                </a>
                <div class="card-body">
                    <a href="/about_item/{{item.id}}" style="color: #000;"><h5 align="center" class="card-title">{{item.title}}</h5></a>
                    {% if current_user.id in [1, 2] %}
                    <a href="/items/{{item.id}}" class="btn btn-outline-dark">Изменить</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if current_user.id in (1, 2) %}
<a href="/items" style="margin-top: 10px; background-color: #0a4761;
     border: 1px solid #0a4761;" class="btn btn-primary">Добавить товар</a>
{% endif %}
{% endblock %}
