{% extends "base.html" %}

{% block main %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript">
    </script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init(){
            var myMap = new ymaps.Map("map", {
                center: [55.611813, 40.660774],
                zoom: 12
            });

            var myGeoObject = new ymaps.GeoObject({
                geometry: {
                    type: "Point",
                    coordinates: [55.597139, 40.638966]
                },
                properties: {
                    hintContent: "Maxim Zobkov",
                    balloonContentHeader: "Тут живёт Максим",
                    balloonContentBody: "Максим живёт в той ещё жопосрани если честно",
                }},
                {
                    strokeColor: "ff0000"
            });
            myMap.geoObjects.add(myGeoObject);
        }
    </script>
{% endblock %}

{% block content %}
<div id="map" style="width: 600px; height: 400px"></div>
{% endblock %}