{% extends "base.html" %}

{% block content %}
<div class="container; mt-4">
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-4" style="width: 100%; border-radius: 10px;">
                <h2 align="center" class="NameTag" style="border-radius: 20px; padding: 20px; width: 100%" >
                    {{current_user.name}} {{current_user.surname}}</h2>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-4" style="width: 100%; border-radius: 10px;">
                <div class="card-body">
                    <h2 class="card-title" align="center">{{current_user.name}}</h2>
                    <div class="prokrutka" style="border-radius: 10px; width: auto; height: 150px;">
                        <p class="card-text">{{current_user.name}}</p>
                    </div>
                    {% if current_user.id in [1, 2] %}
                    <a class="btn btn-success mt-1 " href="/logout"> Выйти </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}