{% extends "base.html" %}

{% block content %}
<div>
    <h3 style="margin-top:20px;"> {{ current_user.name }} <br></h3>
    <table style="margin-top: 20px;" border="0" width="100%" cellpadding="0">
        <tr class="outline">
            <th>
                <h6 style="margin-top:50px;"> {{ current_user.name }} </h6>
            </th>
        </tr>
    </table>
    <table style="margin-top: 20px;" border="0" width="100%" cellpadding="0">
        <tr class="outline">
            <th>
                <h2 align="center" style="margin-top:10px;"> Описание товара: </h2> <br>
                <h6 style="margin-left:15px;"> {{ current_user.name }} </h6> <br> <br>
            </th>
        </tr>
    </table>
</div>
{% endblock %}