{% extends "base.html" %}
{% block content %}
<form method="post" enctype="multipart/form-data">
<div class="container; mt-4">
    <div class="row">
        <div class="card mb-4" style="width: 100%; border-radius: 10px;">
            <div class="card-body">
                {% if message == "Vin"%}
                    <p>Вы прошли наш кквкест с id: {{quest.id}}<br>Вы конечно молодец, но к сожалению вы долба...<br>Извините, но это так.</p>
                    <a href="/quests">Вернуться к квестам</a>
                {% else %}
                    <h5 class="card-title">О квесте</h5>
                    <p>Вы решили выполнить квест с id: {{quest.id}}</p>
                    <p>Вопрос номер {{num}}:</p><br>
                    <p>{{vopr}}</p><br>
                    <a>
                        {{ form.ansver(class="form-control", type="ansver") }}
                    </a>
                    {% if ver == 0 %}
                        <p>Ответ неверный</p>
                    {% endif %}
                    <a>{{ form.submit(type="submit", class="btn btn-primary") }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}
