{% extends "base.html" %}
{% block content %}
<div class="container; mt-4">
    <div class="row">
        {% for quest in quests %}
        <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-12">
            <div class="card mb-4" style="width: 100%; border-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title" align="center">{{quest.name}}</h5>
                    <div style="height: 200px;">
                        <ul>
                            {% for point in quest.points.split('\n')%}
                            <li>{{point}}</li>
                            {% endfor %}
                            {% if current_user.is_authenticated %}
                                <a class="btn btn-dark" href="/quest/{{quest.id}}">Начать</a>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if current_user.id in [1, 2, 3] %}
        <a class="btn btn-warning" href="/add_quests">Добавить квест</a>
    {% endif %}
</div>
{% endblock %}
