{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        {% for quest in quests %}
            <div class="card mb-4" style="width: 100%; border-radius: 10px;">
                <div class="card-body" style="min-height: 250px">
                    <h2 class="card-title" align="center">{{ quest.name }}</h2>
                    <p class="rita_byaka"
                       style="overflow-y: auto; height: 130px; font-size: 20px;"> {{ quest.points }} </p>
                    {% if current_user.is_authenticated %}
                        <div align="center">
                            <a href="/quest/{{ quest.id }}">
                                <div class="btn btn-success">Начать</div>
                            </a>
                        </div>
                    {% endif %}
                    {% if current_user.id in [1, 2, 3] %}
                        <a class="btn btn-danger" href="/erase_quest/{{ quest.id }}">Удалить квест</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% if current_user.id in [1, 2, 3] %}
            <a class="btn btn-warning" href="/add_quests">Добавить квест</a>
        {% endif %}
    </div>
{% endblock %}
