{% extends "base.html" %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        <div class="container mt-4">
            <div class="card mb-4" style="width: 100%; border-radius: 10px;">
                <div class="card-body">
                    <h2 class="card-title" align="center"> Квест </h2>
                    <h5 align="center">Вопрос {{ num }}:</h5>
                    <h5 align="center">{{ vopr }}</h5><br>
                    {{ form.answer() }}
                    {% if ver == 0 %}
                        <p class="mb-4">Ответ неверный</p>
                    {% endif %}
                    <a>{{ form.submit(type="submit", class="btn btn-primary") }}</a><br><br>
                    <a href="/quests">Вернуться к квестам</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
