{% extends "base.html" %}


{% block content %}
    <div class="container mt-4">
        <div class="card mb-4" style="width: 100%; border-radius: 10px;">
            <div class="card-title">
                <h1 align="center"> Регистрация </h1>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.csrf_token }}
                    <p>
                        {{ form.name.label }}
                        {{ form.name(class="form-control") }}
                    </p>
                    <p>
                        {{ form.surname.label }}
                        {{ form.surname(class="form-control") }}
                    </p>
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(class="form-control", type="email") }}
                    </p>
                    <p>
                    {% if email_error != "OK" %}
                        <div class="alert alert-danger" role="alert">{{ email_error }}</div>
                    {% endif %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(class="form-control", type="password") }}
                        {% if password_error != "OK" %}
                            <div class="alert alert-danger" role="alert">{{ password_error }}</div>
                        {% endif %}
                    </p>
                    <p>
                        {{ form.password_again.label }}<br>
                        {{ form.password_again(class="form-control", type="password") }}
                        {% if again_password_error != "OK" %}
                            <p class="alert alert-danger" role="alert">{{ again_password_error }}</p>
                        {% endif %}
                    </p>
                    <p>{{ form.submit(type="submit", class="btn btn-outline-dark") }}</p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}