{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3 style="margin-top:20px;"> {{ item.title }} <br></h3>
    <table style="margin-top: 20px;" border="0" width="100%" cellpadding="0">
        <tr class="outline">
            <th><img style="width: 300px; height: auto;" src={{item.photo}}></th>
            <th>
                <h6 style="margin-top:50px;"></h6>
            </th>
        </tr>
    </table>
    <table style="margin-top: 20px;" border="0" width="100%" cellpadding="0">
        <tr class="outline">
            <th>
                <h2 align="center" style="margin-top:10px;"></h2> <br>
                <h6 style="margin-left:15px;"> {{ item.content }} </h6> <br> <br>
            </th>
        </tr>
    </table>
</div>
{% endblock %}